#chatmessagespane {
	border: 1px solid #000000;
	height: 500px;
	width: 500px;
	font-size: 11px;
	float: left;
	margin: 0 0 10px 0;
	padding: 0px;
}

#chatmessages {
	height: 500px;
	width: 500px;
	overflow: auto;
}

.chatmessagerowodd {
	border-top: 1px solid #5C791C;
	padding: 5px;
	background-color: #F8F8FF;
}

.chatmessageroweven {
	border-top: 1px solid #5C791C;
	padding: 5px;
	background-color: #EFF0ED;
}

#chatuserspane {
	padding: 5px;
	margin: 0 0 10px 5px;
	border: 1px solid #000000;
	background-color: #ffffff;
	overflow: auto;
	height: 490px;
	width: 150px;
	font-size: 11px;
}

#chatusers {
	overflow: auto;
}

#chatusers .chatuserid {
	margin: 0 5px 0 0;
	color: blue;
}

#chatpastusers .chatuserid {
	margin: 0 5px 0 0;
	color: blue;
}

.userid {
	color: #5C791C;
	float: left;
	margin: 0 5px 0 0;
	font-size: 10px;
}

.timestamp {
	color: #5C791C;
	font-size: 10px;
	clear: right;
}

form {
	clear: both;
}

input.chatinput {
	width: 503px;
	font-size: 13px;
	border: solid 1px black;
	padding: 5px;
}

input.chatsubmit {
	border: solid 1px black;
	background-color: #F8F8FF;
	padding: 4px;
}

.dojoTooltip {
	font-size: 12px;
	padding: 5px;
	background-color: #EFF0ED;
	border: solid 1px #5C791C;
}