#chatmessagespane {
}

#chatmessages {
  border: 1px solid black;
	height: 38em;
	width: 500px;
  top: 6em;
	left: 0px;
  position: absolute;
  overflow: scroll;
}

.chatmessagerowodd {
	border-top: 1px solid #5C791C;
	padding: 5px;
	background-color: #F8F8FF;
}

.chatmessageroweven {
	border-top: 1px solid #5C791C;
	padding: 5px;
	background-color: #EFF0ED;
}

#chatuserspane {
	padding: 5px;
	border: 1px solid black;
	height: 38em;
	width: 150px;
	top: 6em;
	left: 550px;
  position: absolute;
}

#chatusers {
	overflow: auto;
}

#chatusers .chatuserid {
	margin: 0 5px 0 0;
	color: blue;
}

#chatpastusers .chatuserid {
	margin: 0 5px 0 0;
	color: blue;
}

.userid {
	color: #5C791C;
	float: left;
	margin: 0 5px 0 0;
}

.timestamp {
	color: #5C791C;
	clear: right;
}

form {
	clear: both;
}

input#message.chatinput {
	width: 503px;
	height: 2em;
	padding: 5px;
	margin-left: 0px;
	top: 45em;
	left: 0px;
	position: absolute;
}

input.chatsubmit {
	padding: 4px;
	top: 48em;
	left: 0px;
	position: absolute;
	padding: 0px;
	margin: 0px;
}

.dojoTooltip {
	padding: 5px;
	background-color: #EFF0ED;
	border: solid 1px #5C791C;
}

#footerlinks {
  position: absolute;
  top: 650px;
  left: 0px;
}
