#chatmessagespane {
}

#chatmessages {
  border: 1px solid black;
	height: 500px;
	width: 500px;
	float: left;
}

.chatmessagerowodd {
	border-top: 1px solid #5C791C;
	padding: 5px;
	background-color: #F8F8FF;
}

.chatmessageroweven {
	border-top: 1px solid #5C791C;
	padding: 5px;
	background-color: #EFF0ED;
}

#chatuserspane {
	padding: 0px 0px 0px 510px;
	border: 1px solid #000000;
	height: 500px;
	width: 150px;
}

#chatusers {
	overflow: auto;
}

#chatusers .chatuserid {
	margin: 0 5px 0 0;
	color: blue;
}

#chatpastusers .chatuserid {
	margin: 0 5px 0 0;
	color: blue;
}

.userid {
	color: #5C791C;
	float: left;
	margin: 0 5px 0 0;
}

.timestamp {
	color: #5C791C;
	clear: right;
}

form {
	clear: both;
}

input.chatinput {
	width: 503px;
	padding: 5px;
}

input.chatsubmit {
	padding: 4px;
}

.dojoTooltip {
	padding: 5px;
	background-color: #EFF0ED;
	border: solid 1px #5C791C;
}
